<footer class="footer text-white py-3">
  <div class="container text-center">
    <span class="text-muted">&copy; <%= Time.now.year %> Social Net. Todos os direitos reservados.</span>
  </div>
</footer>