<aside class="col-md-3 sidebar-left mt-5">
    <div class="profile-card">
        <%= image_tag current_user.user_profile.avatar.variant(resize_to_limit: [40,40]), alt: 'Avatar' %>
        <h5><%= current_user.user_profile.name %></h5>
        <p>Desenvolvedor</p>
        <p>São Paulo, Brasil</p>
        <p>
            <%= link_to user_profile_path(current_user), class: "btn btn-outline-light w-100 mt-3" do %>
                <i class="bi bi-person-fill me-2" style="font-size: 1.5rem; cursor: pointer;"></i>Detalhes do Perfil
            <% end %>
        </p>
    </div>
    <div class="profile-card d-flex flex-row align-items-center justify-content-center">
            <!-- Conteúdo do primeiro card -->
        <!-- Conteúdo do segundo card -->
            <h6 class="mt-2">Visualizações do perfil</h6><span class="badge bg-secondary ms-2">150</span>
    </div>
    <div class="profile-card">
        <!-- Conteúdo do terceiro card -->
        <%= link_to research_groups_path, class: "btn btn-outline-light w-100 mt-3" do %>
            <i class="bi bi-people-fill me-2" style="font-size: 1.5rem; cursor: pointer;"></i>Grupos de Pesquisa
        <% end %>
        <button class="btn btn-outline-light w-100 mt-3" aria-label="eventos">
            <i class="bi bi-calendar-date-fill" style="font-size: 1.5rem; cursor: pointer;"></i>
            Eventos
        </button>
    </div>
</aside>
