<aside class="col-md-3 sidebar-right mt-5">
  <div class="groups">
        <h3>Membros do Grupo</h5>
        
        <ul class="list-group list-group-flush">
        <% if @research_group.memberships.empty? %>
          <li class="list-group-item text-muted">
            Nenhum membro ativo neste grupo ainda.
          </li>
        <% else %>
          <% @research_group.memberships.active.each do |membership| %>
            <li class="list-group-item d-flex justify-items-center ">
              <%= image_tag membership.user.user_profile.avatar.variant(resize_to_limit: [50, 50]) %> 
              <div class="ms-2">
                <h6 class="mb-0"><%= membership.user.user_profile.name %></h6>
                <span class="badge bg-secondary ms-2"><%= membership.role.humanize %></span>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="friends">
        <h5>Grupos Relacionados</h5>
        <ul class="list-group list-group-light">
            <li class="list-group-item">Nosa</li>
            <li class="list-group-item">Nuclin</li>
            <li class="list-group-item">BEHET</li>
        </ul>
    </div>
</aside>