  <!-- Barra Lateral Direita -->
<aside class="col-md-3 sidebar-right mt-5">
    <div class="groups">
        <h3>AcadNet Noticias</h5>
        <h6>Assuntos em alta: </h6>
        <ul class="d-flex justify-content-center flex-wrap ">
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Inteligência Artificial auxi...</a></li>
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Cibersegurança e segurança digital</a></li>
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Biotecnologia na saude</a></li>
        </ul>
        
    </div>
    <div class="friends">
        <h5>Seguindo</h5>
        <ul class="list-group list-group-light">
            <% if current_user.following.empty? %>
                <li class="list-group-item text-muted">Você ainda não está seguindo ninguém.</li>
            <% else %>
                <% current_user.following.each do |friend| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= link_to friend.user_profile.name, user_profile_path(friend.user_profile) %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>

    <div class="friends">
        <h5>Seguidores</h5>
        <ul class="list-group list-group-light">
            <% if current_user.followers.empty? %>
                <li class="list-group-item text-muted">Você ainda não está seguindo ninguém.</li>
            <% else %>
                <% current_user.followers.each do |friend| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= link_to friend.user_profile.name, user_profile_path(friend.user_profile) %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</aside>
