  <!-- Barra Lateral Direita -->
<aside class="col-md-3 sidebar-right mt-5">
    <div class="groups">
        <h3>AcadNet Noticias</h5>
        <h6>Assuntos em alta: </h6>
        <ul class="d-flex justify-content-center flex-wrap ">
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Inteligência Artificial auxi...</a></li>
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Cibersegurança e segurança digital</a></li>
            <li class="list-group-item"><a href="#" class="badge bg-success text-decoration-none">Biotecnologia na saude</a></li>
        </ul>
        
    </div>
    <div class="friends">
        <h5>Amigos</h5>
        <ul class="list-group list-group-light">
            <li class="list-group-item">Maria Oliveira</li>
            <li class="list-group-item">Carlos Souza</li>
            <li class="list-group-item">Beatriz Ferreira</li>
        </ul>
    </div>
</aside>
