<div class="col-lg-3 d-none d-lg-block">
  <div class="sidebar">
    <div class="card mb-3">
      <div class="card-header">
        Tendências
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">#DesenvolvimentoWeb</li>
        <li class="list-group-item">#Bootstrap</li>
        <li class="list-group-item">#Programação</li>
        <li class="list-group-item">#Tecnologia</li>
      </ul>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Anúncios
      </div>
      <div class="card-body">
        <p class="card-text">Crie seu próprio site com as melhores ferramentas! <a href="#">Saiba mais</a></p>
        <img src="https://via.placeholder.com/250x100/007bff/ffffff?text=Anúncio" alt="Anúncio"
          class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>