<% @posts.each do |post| %>
    <article class="post">
        <div class="post-header">
            <div class="user-info">
                <div class="avatar" aria-hidden="true"><%= image_tag (current_user.user_profile.avatar.variant(resize_to_limit: [30,30])) %></div>
                
                <div>
                    <div class="post-user-name"><%= post.user.email %></div>
                    <div class="post-date"><%= post.updated_at %></div>
                </div>
            </div>
        </div>
        <div class="post-content"><%= post.content %></div>
        <div class="post-actions">
            <button type="button" onclick="alert('Você curtiu o post de ${post.user}!')" aria-label="Curtir post"><i class="bi bi-hand-thumbs-up"></i> Curtir</button>
            <button type="button" onclick="alert('Funcionalidade de comentar em desenvolvimento.')" aria-label="Comentar no post"><i class="bi bi-chat-left-text"></i> Comentar</button>
            <button type="button" onclick="alert('Funcionalidade de compartilhar em desenvolvimento.')" aria-label="Compartilhar post"><i class="bi bi-share"></i> Compartilhar</button>
        </div>
    </article>
<% end %>